.header {
    height: 70px;
    border:2px solid red;
    text-align: center;
}
.bodyContent {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
    border:1px #acacac solid;
}

