.container {
    height: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    box-shadow: 5px 0px 10px 0px #bbbbbb;
    border: 1px solid #e8e8e8;
}

.wrapper, .wrapperOut {
    height: 120px;
    width: 800px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

.wrapper {
    justify-content: start;
}

.wrapperOut {
    justify-content: end;
    flex-direction: row-reverse;
}

.bubble:hover {
    background-color: #e7e7e7;
    box-shadow: 1px 1px 10px grey;
}

.incoming, .outcoming {
    padding: 5px 10px;
}

.bubble {
    display: flex;
    color: #20212b;
    padding: 10px;
    border-radius: 20px;
    background: rgba(207, 207, 207, 0.5);
    justify-content: space-between;
}

.avatar img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.name {
    font-size: 14px;
    color: #333333;
    padding: 5px;
}

.message {
    padding: 5px;
    font-size: 18px;
}

.time {
    font-size: 12px;
    align-self: end;
}